<app-dashboard-layout>

  <header class="flex items-center justify-between">
    <div class="text-lg font-normal">Users</div>

    <a routerLink="/users/add-user"
       class="text-sm text-white bg-primary border-primary transition duration-200 border shadow-sm flex items-center justify-center gap-1.5 py-2 px-3 rounded-md cursor-pointer">
      <img class="size-[18px]" alt="Add User" src="/icons/add.svg">
      Add New User
    </a>
  </header>

  <section class="mt-3.5">
    <div class="flex flex-col p-5 box box--stacked">
      <div class="grid grid-cols-4 gap-5">
        <article
          class="col-span-4 md:col-span-2 xl:col-span-1 p-5 border border-dashed rounded-[0.6rem] border-slate-300/80 box shadow-sm">
          <h4 class="text-base text-slate-500">Registered Users</h4>
          <h3 class="mt-1.5 text-4xl font-bebasneue">457,204</h3>
        </article>

        <article
          class="col-span-4 md:col-span-2 xl:col-span-1 p-5 border border-dashed rounded-[0.6rem] border-slate-300/80 box shadow-sm">
          <h4 class="text-base text-slate-500">Active Users</h4>
          <h3 class="mt-1.5 text-4xl font-bebasneue">122,721</h3>
        </article>

        <article
          class="col-span-4 md:col-span-2 xl:col-span-1 p-5 border border-dashed rounded-[0.6rem] border-slate-300/80 box shadow-sm">
          <h4 class="text-base text-slate-500">New Users</h4>
          <h3 class="mt-1.5 text-4xl font-bebasneue">489,223</h3>
        </article>

        <article
          class="col-span-4 md:col-span-2 xl:col-span-1 p-5 border border-dashed rounded-[0.6rem] border-slate-300/80 box shadow-sm">
          <h4 class="text-base text-slate-500">Login Activity</h4>
          <h3 class="mt-1.5 text-4xl font-bebasneue">411,259</h3>
        </article>
      </div>
    </div>
  </section>

  <section class="mt-8">
    <div class="box box--stacked p-5">
      <div class="box box--stacked p-5">
        <p-table
          [value]="users()"
          [paginator]="true"
          [rows]="5"
          [tableStyle]="{ 'min-width': '65rem' }"
          [rowsPerPageOptions]="[5, 10, 20]">

          <!-- HEADER -->
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 28%">Id</th>
              <th style="width: 25%">UserName</th>
              <th>Status</th>
              <th>Joined Date</th>
              <th class="text-end" style="text-align: end !important;">Action</th>
            </tr>
          </ng-template>

          <!-- BODY -->
          <ng-template pTemplate="body" let-row>
            <tr>
              <td class="text-sm">{{ row.id }}</td>

              <td>
                <div class="flex items-center">
                  @if (row.profileImageUrl !== null) {
                    <div class="w-9 h-9 image-fit zoom-in">
                      <img
                        class="size-full rounded-full shadow-sm"
                        alt="" [src]="row.profileImageUrl">
                    </div>
                  } @else {
                    <div class="w-9 h-9 image-fit zoom-in">
                      <div [class]="profilePicService.getStyles(row.userName)">
                        {{ row.userName.slice(0, 2) | uppercase }}
                      </div>
                    </div>
                  }
                  <div class="ml-3.5 max-w-[250pxDisplay ]">
                    <h3 class="font-medium truncate">{{ row.userName }}</h3>
                    <p class="text-slate-500 text-xs mt-0.5 truncate">{{ row.email }}</p>
                  </div>
                </div>
              </td>

              <td>
                @if (row.isActive) {
                  <div class="flex items-center text-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-database w-3.5 h-3.5 stroke-[1.7]">
                      <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                      <path d="M3 5V19A9 3 0 0 0 21 19V5"></path>
                      <path d="M3 12A9 3 0 0 0 21 12"></path>
                    </svg>
                    <div class="ml-1.5 whitespace-nowrap">Inactive</div>
                  </div>
                } @else {
                  <div class="flex items-center text-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="lucide lucide-database w-3.5 h-3.5 stroke-[1.7]">
                      <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                      <path d="M3 5V19A9 3 0 0 0 21 19V5"></path>
                      <path d="M3 12A9 3 0 0 0 21 12"></path>
                    </svg>
                    <div class="ml-1.5 whitespace-nowrap">Active</div>
                  </div>
                }
              </td>

              <td class="text-sm">{{ row.joinedDate | date }}</td>

              <td class="text-sm">
                <div class="flex items-center justify-end gap-3">
                  <button >
                    <i class="pi pi-pen-to-square" style="font-size: 16px; color: #475569"></i>
                  </button>
                  <button >
                    <i class="pi pi-trash" style="font-size: 16px; color: #B91C1CFF"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </div>
  </section>

</app-dashboard-layout>
